div.div_big {
    padding-top: 15px;
}
 
input[name="button"] {
    font-size: 17px;
    color: #F0F0F0;
    background: #808080;
    border-radius: 8px;
    height: 56px;
    border: none;
    width: 100%;
    cursor: pointer;
}